<h3>Update Front Office Member</h3>
    <form id="updateFrontOffice" action="/FrontOffice/UpdateFrontOffice/" method="POST">
        ID Number: <input type="text" name="ID_Update"><br>
        First Name: <input type="text" name="New_First_Name"> <br>
        Last Name: <input type="text" name="New_Last_Name"> <br>
        Role: <input type="text" name="New_Role"> <br>
        Team: <select name="New_Team">
            {{#each Team}}
            <option value="{{Abbreviation}}"> {{Abbreviation}} </option>
            {{/each}} </select> <br>
        <input type="submit" value="Submit">
    </form>

